{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{% static 'hello/curso_tema.css' %}" rel="stylesheet"> 
</head>
<body>
    <div class="navbar">
        <div id="logo">
            <img src="{% static 'hello/images/logo.png' %}" alt="Logo image">
            <p>learnOrbit</p>
        </div>
        <ul>
            <li><a href="{% url 'perfil' %}" id="logIn" class="boton_redirect">Mi perfil</a></li>
            <li><a>Cursos</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </div>
    <h1>Introducción a la programación</h1>
    <div class="tarjeta">
        <div class="izq">
            <div class="image">
                <img src="{% static 'hello/images/intro_prog.jpg' %}" alt="">
            </div>
            <div class="info">
                <h2>Introducción a la programación</h2>
                <p>Jorge Lopez</p>
                <p>Universidad Javeriana</p>
            </div>
        </div>
        <div class="der">
            <button onclick="cambiarVideo('ZzaPdXTrSb8')">Ver Video 1</button>
            <button onclick="cambiarVideo('99mmpf7LsF4')">Ver Video 2</button>
            <div id="videoContainer">
                <iframe id="videoFrame" width="400" height="280" 
                        src="https://www.youtube.com/embed/ZzaPdXTrSb8?start=371" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

    <script>
        // Función para cambiar el video
        function cambiarVideo(videoId, startTime = 0) {
            const videoFrame = document.getElementById("videoFrame");
            const newSrc = `https://www.youtube.com/embed/${videoId}?start=${startTime}`;
            videoFrame.src = newSrc;
        }
    </script>

</body>
</html>