{% extends 'hello/sesion.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}  <!-- Input field for username -->
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}  <!-- Input field for password -->
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Log in</button>
    </form>
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}
{% endblock %}