{% extends 'hello/sesion.html' %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
    <style>
        h2 {
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
            font-size: 400%;
        }

        label {
            font-size: 180%;
        }

        button {
            color: white;
            background-color: #156920;
            border-radius: 10%;
            width: 150px;
            height: 50px;
            margin: 0 auto;
            display: block;
            font-size: 18px; /* Make the font bigger */
            font-weight: bold; /* Make the text bold */
            box-shadow: none; /* Remove button shadow */
        }

        button {
            background-color: #1e9c2e;
            scale: 1.05;
            cursor: pointer;
        }
    </style>
    <h2>Inicie sesión para ver los cursos</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}  <!-- Input field for username -->
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}  <!-- Input field for password -->
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <button type="submit">Log in</button>
    </form>
    {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}
{% endblock %}