{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <link href="{% static 'hello/perfil.css' %}" rel="stylesheet"> 
</head>
<body>
    <div class="navbar">
        <div id="logo">
            <img src="{% static 'hello/images/logo.png' %}" alt="Logo image">
            <p>learnOrbit</p>
        </div>
        <ul>
            <li><a>Cursos</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </div>
    <div class="tu_perfil">
        <h1>Tú perfil</h1>
        <div class="info">
            <div class="imagen">
                <img src="{% static 'hello/images/usuario.png' %}" alt="user_photo">
            </div>
            <div class="text">
                <h2>Usuario</h2>
                <p>usuario@mail.com</p>
                <p>Universidad Javeriana</p>
                <p>Ingenieria de sistemas</p>
            </div>
        </div>
        <button id="actualizar">Actualizar datos</button>
    </div>
    <div class="tus_cursos">
        <h1>Tus cursos</h1>
        <div class="cursos">
            <div class="curso">
                <div class="info_curso">
                    <h2>Introducción a la programación</h2>
                    <p>Jorge Lopez</p>
                    <p>Universidad Javeriana</p>
                    <button class="ver_mas">Ver más</button>
                </div>
            </div>
            <div class="curso">
                <div class="info_curso">
                    <h2>Programación avanzada</h2>
                    <p>Pedro Gonzalez</p>
                    <p>Universidad de los Andes</p>
                    <button class="ver_mas">Ver más</button>
                </div>
            </div>
            <div class="curso">
                <div class="info_curso">
                    <h2>EStructuras de datos</h2>
                    <p>María Gomez</p>
                    <p>Universidad Javeriana</p>
                    <button class="ver_mas">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>