body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
.navbar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F5F5F5;
    overflow: hidden;
}

#logo {
    margin-left: 25px;
}

#logo img {
    height: 65px;
    float: left;

}

#logo p {
    float: left;
    margin-left: 5px;
    font-size: 140%;
    color: #156920;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    float: right;
}
.navbar li a {
    display: block;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 140%;
}

#logIn {
    color: white;
    background-color: #156920;
    border-radius: 10%;
}

#logIn:hover {
    background-color: #1e9c2e;
    scale: 1.05;
    cursor: pointer;
}

h1 {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 230%;
}

.tarjeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    gap: 20px;
    max-width: 900px; /* Ancho máximo de la tarjeta */
    margin: 20px auto; /* Centra horizontalmente y agrega margen superior e inferior */
}

.izq {
    flex: 1; /* Ambas partes ocuparán el mismo espacio */
    display: flex;
    flex-direction: column; /* Imagen y la info en columna */
    align-items: center; /* Centra el contenido verticalmente */
}

.image img {
    width: 250px; /* Tamaño de la imagen */
    height: auto;
    border-radius: 10px;
}

.info {
    text-align: center;
}

.der {
    flex: 1; /* Ambas partes ocuparán el mismo espacio */
    text-align: center;
}

.der button {
    display: inline-block; /* Hace que los botones estén en línea */
    padding: 10px 20px;
    background-color: #156920;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px; /* Añade espacio entre los botones */
    cursor: pointer;
}

.der button:hover {
    background-color: #1e9c2e;
    scale: 1.05;
}

#videoContainer {
    margin-top: 10px;
}