body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
.navbar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F5F5F5;
    overflow: hidden;
}

#logo {
    margin-left: 25px;
}

#logo img {
    height: 65px;
    float: left;

}

#logo p {
    float: left;
    margin-left: 5px;
    font-size: 140%;
    color: #156920;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    float: right;
}
.navbar li a {
    display: block;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 140%;
}

.log_in {
    display: inline-block; /* Para que se comporte como un botón */
    padding: 10px 20px; /* Espaciado interno */
    color: white;
    background-color: #156920;
    border-radius: 10%;
    text-decoration: none; /* Quita el subrayado */
}

.log_in:hover {
    background-color: #1e9c2e;
    transform: scale(1.05); /* Usa transform en lugar de scale directamente */
    cursor: pointer;
}

h1 {
    font-size: 300%;
}

.tu_perfil {
    text-align: center;
    margin-top: 20px;
}

.info {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.imagen img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen circular si es cuadrada */
}

.text {
    font-size: 18px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.text h2 {
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}

.text p {
    margin: 5px 0;
}

#actualizar {
    margin-top: 50px;
    color: white;
    background-color: #156920;
    border-radius: 10%;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    display: block;
    font-size: 18px; /* Make the font bigger */
    font-weight: bold; /* Make the text bold */
    box-shadow: none; /* Remove button shadow */
}

#actualizar:hover {    
    background-color: #1e9c2e;
    scale: 1.05;
    cursor: pointer;
}

.tus_cursos {
    margin-top: 20px;
    margin-bottom: 50px;
}

.tus_cursos h1 {
    margin-left: 5%;
}

.cursos {
    display: flex;
    flex-direction: column; /* Los cursos se apilan verticalmente */
    align-items: center; /* Centra los cursos horizontalmente */
    gap: 20px; /* Espacio entre los cursos */
}

.curso {
    display: flex; /* Coloca la imagen y la información del curso en una fila */
    align-items: center; /* Alinea la imagen y la información verticalmente */
    background-color: #f0f0f0;
    padding: 15px;
    width: 80%; /* Puedes ajustar el ancho */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    gap: 20px; /* Espacio entre la imagen y la información del curso */
}

.imagen_curso img {
    max-width: 250px; /* Tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px; /* Redondea los bordes de la imagen si lo deseas */
}

.info_curso {
    flex-grow: 1; /* Hace que la información del curso ocupe el resto del espacio */
}

.info_curso h2 {
    margin-bottom: 10px;
}

.info_curso p {
    margin: 5px 0;
}

.ver_mas {
    display: inline-block; /* Para comportarse como botón */
    padding: 5px 5px;
    background-color: #156920;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.ver_mas:hover {
    background-color: #1e9c2e;
    scale: 1.05;
    cursor: pointer;
}