body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
.navbar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F5F5F5;
    overflow: hidden;
}

#logo {
    margin-left: 25px;
}

#logo img {
    height: 65px;
    float: left;

}

#logo p {
    float: left;
    margin-left: 5px;
    font-size: 140%;
    color: #156920;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    float: right;
}
.navbar li a {
    display: block;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 140%;
}

h1 {
    margin-left: 5%;
    font-size: 300%;
}

.tu_perfil {
    text-align: center;
    margin-top: 20px;
}

.info {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea verticalmente */
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.imagen img {
    width: 150px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen circular si es cuadrada */
}

.text {
    font-size: 18px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.text h2 {
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}

.text p {
    margin: 5px 0;
}